@model IEnumerable<NGO_Project.Document>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Document Type</th>
        <th>Document Title</th>
        <th>Generated Date</th>
        <th>Status</th>
        <th>Related Entity ID</th>
        <th>File Path</th>
        <th>User First Name</th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneratedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedEntityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DocumentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DocumentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DocumentId })
        </td>
    </tr>
}

</table>
