@model IEnumerable<NGO_Project.DistributionOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DistributionLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistributionOrders1.DistributionLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistributionOrder1.DistributionLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DistributionLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistributionOrders1.DistributionLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistributionOrder1.DistributionLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DistributionOrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DistributionOrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DistributionOrderId })
        </td>
    </tr>
}

</table>
